<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM
        "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<!--<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">-->
<log4j:configuration>
    <appender name="mail" class="org.apache.log4j.net.SMTPAppender">
        <!-- Email Configuration -->
        <param name="BufferSize" value="512"/>
        <param name="SMTPProtocol" value="smtps"/>
        <param name="SMTPHost" value="smtp.gmail.com"/>
        <param name="SMTPPort" value="465"/>
        <param name="SMTPUsername" value="vikafm27@gmail.com"/>
        <param name="SMTPPassword" value="***"/>
        <param name="From" value="vikafm27@gmail.com"/>
        <param name="To" value="vanilla9k@gmail.com"/>
        <param name="Subject" value="Testing Log4j Mail Notification"/>
        <param name="Threshold" value="ERROR"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n"/>
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="ex.txt"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>


    <root>
        <level value="info"/>
        <appender-ref ref="mail"/>
        <appender-ref ref="file"/>
    </root>

</log4j:configuration>